.header {
    grid-area: h;
    background-color: sandybrown;
}

.header img {

    height: 60px;
    background-color: sandybrown;
}

.loginBlock {
    float: right;
}

.loginBlock a{
    color: aliceblue;
}